fastapi
uvicorn
pydantic
jinja2
python-multipart
langchain
langchain-core
langchain-community
langchain-groq
datasets
python-dotenv
langchain-text-splitters
langchain-groq
langchain-astradb
langchain-huggingface
sentence-transformers
astrapy
rank-bm25
pandas
openpyxl
pypdf
unstructured[docx]